@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo|Courgette|Fjalla+One|Roboto+Mono|Varela+Round&display=swap');

.navbar{
    box-shadow: 0px 0px 45px rgba(0, 0, 9, 0.35);
}
.sticky{
    position: fixed;
    width: 100%;
    z-index: 11;
    background-color: #F8F9FA;
    transition: transform 2s;
    animation-name: example;
    animation-duration: .6s;
}

@keyframes example {
    from { top: -100px;}
    to {top: 0px;}
  }

.nav-link {
    /* color: #00B050 !important; */
    /* font-family: 'PT Serif', serif; */       
    /*     font-size: 110%; */
        
    /*     font-family: 'Arimo', sans-serif; */
    /*     font-family: 'Courgette', cursive; */
    /*     font-family: 'Fjalla One', sans-serif; */
    /*     font-family: 'Roboto Mono', monospace; */
    font-family: 'Varela Round', sans-serif;

} 


/* form */
input[type="text"], input[type="email"], textarea{
    margin-bottom: 8px;
}
/* reqeust quote  */
#quote{
    background-image: url(''); 
}

/* contact us  */
/* #contact-us{
    background-image: url('../image/map.PNG');
} */



/* style for two line navbar manage and logo position setup */
/* 
.navbar-default.nav-top ul {
  display: inline-block;
  float: right;
}
.navbar-default ul.navbar-top li {
  float: left;
  font-size: 11px;
}
.navbar-brand {
  margin: -40px;
} */


/* css for footer */
.page-footer {
    background-color: #343538;
    color: white;
}

.footer-copyright {
    background-color: #444546;;
    color: white;
}

/* end footer */

/* start contact form */
.contact-form{
    border-radius: 3%;
    
}

/* end contact form  */

