.nav-link {
    color: #00B050 !important;
    font-family: sans-serif;
} 


/* form */
input[type="text"], input[type="email"], textarea{
    margin-bottom: 8px;
}
/* reqeust quote  */
#quote{
    background-image: url(''); 
}

/* contact us  */
/* #contact-us{
    background-image: url('../image/map.PNG');
} */



/* style for two line navbar manage and logo position setup */
/* 
.navbar-default.nav-top ul {
  display: inline-block;
  float: right;
}
.navbar-default ul.navbar-top li {
  float: left;
  font-size: 11px;
}
.navbar-brand {
  margin: -40px;
} */


/* css for footer */
.page-footer {
    background-color: #343538;
    color: white;
}

.footer-copyright {
    background-color: #444546;;
    color: white;
}

/* end footer */

/* start contact form */
.contact-form{
    border-radius: 3%;
    
}

/* end contact form  */